@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Pacifico&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

/* Body */

body {
    background-color: rgb(46, 52, 52);
    width: 100%;
    height: auto;
    font-family: Catamaran, sans-serif;
}

/* Header and Logo */

header {
    overflow: hidden;
} 

#logo{
    float: left;
    font-size: 90%;
    margin-left: 30px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 3px;
}

/* Menu and Nav links */

#menu-color{
    background-color: black;
    height: 45px;
    width: 100%;
    top: 0;
}
#nav-menu{
    font-size: 110%;
    letter-spacing: 4px;
}

#logo, #nav-menu{
    line-height: 43px;
}

#nav-menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    color: white;
}

#nav-menu a {
    text-decoration: none;
    color: inherit;
}

#nav-menu a:hover{
    border-bottom: 1px solid orange;
}

.active{
    border-bottom: 1px solid orange;
}

/* Main image */

#main-image {
    background: url("../images/main-image.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Key main question */

#main-text {
    font-family: 'Pacifico', cursive ;
    color: white;
    font-size: 260%;
      /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    position: relative;
    text-align: center;
    margin-top: -60px;
    background-color: rgba(0, 0, 0, 0.300);
    padding: 5px;
}

/* Info and tips */

#main-info {
    height: 600px;
}

#welcome {
    color: white;
    margin: 20px 0;
    text-align: center;
    font-size: 280%;
    text-decoration: none;
}

.textbox-container {
    display: flex;
    flex-direction: column;
    margin: 30px;
   }
   
.textbox-left-one {
    color: white;
    width: 70%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.300);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px x rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

.textbox-left-one:hover {
    transform: scale(1.05);
    color: orange;

}

.textbox-left-two {
    color: white;
    width: 70%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.300);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px x rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

.textbox-left-two:hover {
    transform: scale(1.05);
    color: orange;
}

.textbox-right {
    align-self: flex-end;
    color: white;
    width: 70%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.300);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px x rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

.textbox-right:hover {
    transform: scale(1.05);
    color: orange;
}

.textbox-container h2 {
    letter-spacing: 2px;
}

.textbox-right h2 {
    letter-spacing: 2px;
}
   
.textbox-container h2 {
    font-size: 22px;
}
   
.textbox-container p {
    font-size: 18px;
}

/* Footer */

footer{
    height: 100px;
}

.social-networks{
    text-align: center;

}

.social-networks li{
    display: inline;
}

.social-networks i{
    font-size: 160%;
    margin: 3%;
    padding: 3%;
    color: white;
}

#facebook i:hover {
    color: #2a63df;
}

#twitter i:hover {
    color: #00acee;
}

#youtube i:hover {
    color:#FF0000;
}

#instagram i:hover {
    color: #ea3ec5;
}

/* Countries Page */

.countries-container {
    background-attachment: scroll;
    padding-top: 30px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    margin: 30px;
    z-index: 3;
}

.country-left {
    color: white;
    width: 70%;
    padding: 35px;
    background-color: rgba(0, 0, 0, 0.300);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px x rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

.country-left:hover {
    transform: scale(1.05);
    color: orange;
}

.country-right {
    align-self: flex-end;
    margin: 10px;
    color: white;
    width: 70%;
    padding: 35px;
    background-color: rgba(0, 0, 0, 0.300);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px x rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

.country-right:hover {
    transform: scale(1.05);
    color: orange;
} 

.countries-container img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 2px;
    border: solid 4px black;
}

#ireland-image, #japan-image, #belgium-image{
    float: right;
    padding-left: 3%;
}

#us-image, #spain-image, #uk-image{
    float: left;
    padding-right: 3%;
}

.countries-container h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 22px;
}

.countries-container  {
    font-size: 18px;
}

.countries-container a {
    color: #0339f8;
}

.check-button-right {
    color: white;
    letter-spacing: 1px;
    float: right;
}

.check-button-left {
    letter-spacing: 1px;
    float: left;
}

.countries-container a:hover {
    color: white;
    letter-spacing: 1px;
}


/* Newsletter */

.form-section {
    background: url("../images/the-crawl-newsletter.jpeg");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.signup-form {
    margin: 150px 2% 0 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.600);
    border-radius: 20px;
    border: solid 1px white;
    max-width: 400px;
    position: absolute;
    left: 55%;
    top: 15%;
    padding: 30px;
    padding-right: 20px;
}

.signup-form > h2 {
    color: #fafafa;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: orange;
}

/* "Join" button for newsletter page and "Return to Home" button for signed page */

.join-button, .return-button {
    margin-top: 20px;
    margin-left: 120px;
    border-radius: 20px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: orange;
    color: #fafafa;
    display: block;
}

.join-button:hover, .return-button:hover {
    background-color: #fafafa;
    color: orange;
}


/* Thank you page */

#thankyou-image {
    clear: left;
    background: url("../images/thankyou-image.jpeg");
    background-size: cover;
    background-position: center;
    height: 900px;
    z-index: 1;
}

.thankyou-message {

    margin: 150px 2% 0 0;
    letter-spacing: 1px;
    color: #fff;
    border: solid 1px white;
    background-color: rgba(0, 0, 0, 0.600);
    border-radius: 20px;
    max-width: 400px;
    position: absolute;
    left: 10%;
    top: 43%;
    padding: 30px;
    z-index: 2;
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
    .signup-form {
        margin: 0;
        left: 200px;
        right: 200px;
        top: 25%;
    }


}
/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){
    .signup-form {
        margin: 0;
        left: 60px;
        right: 60px;
        top: 25%;
    }
}

/* For small screens sizes from 830px wide and down */
@media screen and (max-width: 830px){
    #nav-menu {
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    #menu-color{
        height: 80px;
    }

    .container {
        padding-top: 90px;
        width: 80%;
        columns: 1;
    }
    .right-box {
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    .signup-form {
        margin: 0;
        left: 10px;
        right: 10px;
        top: 25%;
    }

}
/* For small screens sizes from 500px wide and down */
@media screen and (max-width: 500px){
    #nav-menu {
        float: left;
        font-size: 90%;
        padding: 1px;
    }
    
}



